<!DOCTYPE html>
{% load static %}
<html>
   <head>
     <meta charset="utf-8">
     <title>My website</title>
    </head>
    <body>
      <nav class="'navbar navbar-default navbar-static-top">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="{%url 'index'%}">Home Page</a></li>
            <li><a class="navbar-link" href="{%url 'register'%}">Register</a></li>
            <li><a class="navbar-link" href="{%url 'admin:index'%}">Admin</a></li>
            {% if user.is_authenticated %}
            <li><a class="navbar-link" href="{% url 'logout'%}">Logout</a></li>
            {% else %}
            <li><a class="navbar-link" href="{% url 'login'%}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
       
     
    {% block content%}
    {% endblock %}

   </body>
</html>
